<h2>
  Import <%= @imports_import.title %>

  <%= link_to @imports_import, class: 'pull-right btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
  <% end %>
</h2>
<hr/>

<table class='table'>
  <tr>
    <td>Started at</td>
    <td><%= @transfer.created_at %></td>
  </tr>
  <tr>
    <td>Finished at</td>
    <td><%= @transfer.finished_at %></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= @transfer.status %></td>
  </tr>
</table>

<h3>Table transfers</h3>
<table class='table'>
  <thead>
    <tr>
      <th>Table</th>
      <th>Started at</th>
      <th>Finished at</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @transfer.table_transfers.each do |table_transfer| %>
      <tr>
        <td><%= table_transfer.table.name %></td>
        <td><%= table_transfer.created_at %></td>
        <td><%= table_transfer.finished_at %></td>
        <td><%= table_transfer.status %></td>
        <td>
          <%= link_to '#', class: 'btn btn-xs btn-default' do %>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Log</h3>
<pre><%= raw @transfer.log %></pre>
