<%= render partial: 'imports/imports/header', locals: {import: @imports_import} %>

<table class='table'>
  <tr>
    <td>Started at</td>
    <td><%= @transfer.created_at %></td>
  </tr>
  <tr>
    <td>Finished at</td>
    <td><%= @transfer.finished_at %></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= @transfer.status %></td>
  </tr>
</table>

<h3>Table transfers</h3>
<table class='table'>
  <thead>
    <tr>
      <th>#</th>
      <th>Table</th>
      <th>Started at</th>
      <th>Finished at</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @transfer.table_transfers.order(id: :asc).each do |table_transfer| %>
      <tr class="<%= bootstrap_row_class_for_status table_transfer.status %>">
        <td><%= table_transfer.id %></td>
        <td><%= table_transfer.table.name %></td>
        <td><%= table_transfer.created_at %></td>
        <td><%= table_transfer.finished_at %></td>
        <td><%= table_transfer.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Log</h3>
<pre><%= raw @transfer.log %></pre>
